

@media only screen and (max-width 1200px) {
   .hero-text-box cc{
        width:100% ;
        padding: 0 2% ;
    }
} 

@media only screen and (max-width 1023px) {
    .hero-text-box cc{
        width:100% ;
        padding: 0 2% ;
    }
}

@media only screen and (max-width 767px) {
    .hero-text-box cc{
        width:100% ;
        padding: 0 2% ;
    }
} 

@media only screen and (max-width 480px) {
    .hero-text-box cc{
        width:100% ;
        padding: 0 2% ;
    }
} 